{{#if addNewListing}}
<h2> Add a new listing:</h2>
  <form>
    <div class='form-group'>
      <label for='author'>Author:</label>
      {{input value=author id='author'}}
      <label for='title'>Title:</label>
      {{input value=title id='title'}}
      <label for='content'>Content of Listing:</label>
      {{textarea value=content id='content'}}
      <label for='price'>Price:</label>
      {{input value=price id='price'}}
      <label for='city'>City:</label>
      {{input value=city id='city'}}
      <label for='state'>State:</label>
      {{input value=state id='state'}}
      <label for='imageUrl'>Image URL:</label>
      {{input value=imageUrl id='imageUrl'}}
    </div>
    <button class="btn btn-default" {{action 'saveListing'}}>Save</button>
  </form>
{{else}}
<button class="btn" {{action 'newListingFormShow'}}>Add New Listing</button>
{{/if}}
